body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  display: flex;
  overflow: hidden;
  height: 100dvh;
}

/*SIDEBAR*/

.side-bar {
  height: 100%;
  padding: 1rem;
  width: 20%;
  background-color: royalblue;
}

.side-button {
  padding: 1rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CONTENT*/

.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.top-chat {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: aqua;
}

.chat {
  height: inherit;
  overflow-y: scroll;
  padding: 2rem;
  padding-bottom: 60px;
  background-color: darkslategray;
}

.message {
  display: flex;
  padding: 0.3rem 0.7rem;
  gap: 0.7rem;
  background-color: blanchedalmond;
  border-radius: 10px;
  width: fit-content;
}

.message.owner {
  margin-left: auto;
}

.message > div {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.input-zone {
  position: absolute;
  bottom: 0;
  left: 0;
}