@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;

  --cblue: #001aac;
  --cwhite: #e0efff;
  --cgray: #90c4ff;
  --clightblue: #4b6cff;
  --cgreen: #5eff49;
}

hr {
  border: none;
}

ul {
  padding: 0;
}

main {
  display: flex;
  overflow: hidden;
  height: 100dvh;
}

button {
  border: none;
  background-color: transparent;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  max-height: 1rem;
  text-align: left;
}

/*SIDEBAR*/

.side-bar {
  height: 100%;
  min-width: 24%;
  max-width: 24%;
  background-color: var(--cgray);
  position: relative;
}

.add-button {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  border-radius: 50%;
  background-color: var(--cblue);
  color: var(--cwhite);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
}

.side-bar > header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  background-color: var(--cblue);
  color: var(--cwhite);
  padding: 1rem 0.5rem;
}
.side-bar > header > button {
  color: var(--cwhite);
  font-size: 1.2rem;
}

.chat-list {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  gap: 0.5rem;
}

.side-button {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--clightblue);
  font-size: 0.9rem;
  color: var(--cwhite);
}

.side-button > :first-child {
  font-size: 2.5rem;
}
.side-button > div {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.side-button > div > :first-child {
  width: 100%;
  text-align: left;
}
.side-button > div > .sub-title {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
}
.side-button > div > .sub-title > :last-child {
  text-align: end;
}

.side-bar > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/*CONTENT*/

.content {
  position: relative;
  height: 100%;
  width: 76%;
}

.top-chat {
  padding: 0.25rem 2rem 0.25rem 1rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--clightblue);
  color: var(--cwhite);
  position: relative;
  z-index: 2;
}

.top-chat > div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.top-chat > div > :first-child {
  font-size: 2.5rem;
}

.name-chat {
  display: flex;
}

.top-chat .name-chat:has(.visible) {
  flex-direction: column;
}

.top-chat .status-chat {
  scale: 0;
  transition: scale 300ms;
}
.top-chat .status-chat.visible {
  scale: 1;
  transition: scale 300ms;
}

.top-chat > hr {
  margin-left: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: inherit;
  max-height: calc(100% - 8.5rem);
  overflow-y: scroll;
  padding: 0.5rem 2rem;
  padding-bottom: 5rem;
  background-color: var(--cwhite);
}
.chat::-webkit-scrollbar {
  display: none;
}
.chat::after {
  position: absolute;
  inset: 0;
  content: "";
  background: linear-gradient(180deg, transparent 85%, var(--cwhite) 90%);
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.7rem;
  gap: 0.7rem;
  background-color: var(--cgray);
  color: var(--cwhite);
  border-radius: 10px;
  width: fit-content;
  max-width: 60%;
  z-index: 1;
}

.message-content {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
}

.message.owner {
  margin-left: auto;
  background-color: var(--clightblue);
}

.message p {
    word-break: break-word
}

.message-content > div {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.answer-message {
  background-color: var(--cgray);
  padding: 0.5rem;
  border-radius: 5px;
}
.answer-message > h5 {
  font-size: 0.7rem;
  font-weight: 100;
  margin-bottom: 5px;
}
.answer-message > p {
  font-size: 0.85rem;
}

.input-zone {
  position: absolute;
  bottom: 0.2rem;
  left: 1rem;
  width: calc(100% - 4rem);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  gap: 1rem;
  display: flex;
  align-items: center;
  z-index: 2;
}

.input-zone input {
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  color: var(--cwhite);
  background-color: var(--clightblue);
}

.input-zone button {
  color: var(--cblue);
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
}

.input-zone .send {
  background-color: var(--cblue);
  color: var(--cwhite);
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
}
input:focus {
  outline: none;
}

.input-zone .input {
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-zone:has(.pop.visible) input  {
  border-radius: 0 0 5px 5px;
}

.input-zone .pop{
  display: none;
}

.input-zone .pop.visible {
  display: flex;
  position: absolute;
  background-color: var(--clightblue);
  border-radius: 5px 5px 0 0;
  gap: 0.5rem;
  width: calc(100% - 1rem);
  height: 100%;
  bottom: 100%;
  padding: 0.5rem;
}

.pop .answer {
  display: none;
}

.pop.visible .answer {
  background-color: var(--cgray);
  width: inherit;
  border-radius: 5px;
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
} 

.pop.visible .answer > div > p {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1rem;
}

/*SEARCH */

.input-search {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--cwhite);
}
.input-search > button {
  color: var(--cwhite);
}
.input-expand {
  width: 0%;
  padding: 0;
  border: none;
  transition: all 300ms;
  background-color: var(--cgray);
  color: var(--clightblue);
  font-weight: 600;
}
.input-expand.expanded {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: all 300ms;
}