@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;

  --cblue: #001aac;
  --cwhite: #e0efff;
  --cgray: #90c4ff;
  --clightblue: #4b6cff;
  --clightblue2: #22368f;
  --cdarkgreen: #0d6d00;
  --cgreen: #5eff49;

  --cblack: #9898aa;
  --clight: #c4c4ff; 
  position: relative;
}

button {
  cursor: pointer;
}

.fade-login {
  display: none;
  pointer-events: none;
}
.fade-login > * {
  font-size: 7rem;
  color: var(--cwhite);
  margin: 37vh auto;
}
body.loggin-in .fade-login {
  display: flex;
  position: absolute;
  content: "";
  z-index: 2;
  background-color: var(--cblue);
  inset: 0;
  animation: login 3s forwards;
  pointer-events: all;
}

@keyframes login {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

hr {
  border: none;
}

ul {
  padding: 0;
}
li {
  display: flex;
}

input[type=file] {
  display: none
}

main {
  display: flex;
  overflow: hidden;
  height: 100dvh;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

.d-none {
  display: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  max-height: 1rem;
  text-align: left;
}

/*SIDEBAR*/

.side-bar {
  height: 100%;
  min-width: 24%;
  max-width: 24%;
  background-color: var(--cgray);
  position: relative;
}

.add-button {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  border-radius: 50%;
  background-color: var(--cblue);
  color: var(--cwhite);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
}

.side-bar > header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  background-color: var(--cblue);
  color: var(--cwhite);
  padding: 1rem 0.5rem;
  position: relative;
}
.side-bar > header > button {
  font-size: 1.2rem;
}
.side-bar > header > section > button {
  color: var(--cwhite);
  padding: 0.15rem 0.5rem;
  padding-right: 1rem;
}

.side-bar .chat-config li {
  font-size: 0.75rem;
  width: 7rem;
  max-width: 7rem;
}

.chat-list {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  gap: 0.5rem;
}

.side-button {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--clightblue);
  font-size: 0.9rem;
  color: var(--cwhite);
}

.side-button .ellipsis {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.side-button > :first-child {
  font-size: 2.5rem;
}
.side-button > div {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: inherit;
}
.side-button > div > :first-child {
  width: 100%;
  text-align: left;
}
.side-button > div > .sub-title {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
}
.side-button > div > .sub-title > :last-child {
  text-align: end;
}

.side-bar > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/*CONTENT*/

.content {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 76%;
  display: flex;
  flex-direction: column;
}

.top-chat {
  padding: 0.25rem 4% 0.25rem 2%;
  gap: 4%;
  display: flex;
  align-items: center;
  background-color: var(--clightblue);
  color: var(--cwhite);
  position: relative;
  z-index: 3;
}

.top-chat button {
  color: var(--cwhite);
}

.top-chat > div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  width: 40%;
  max-width: 100%;
  padding: 0 0.5rem;
}

.top-chat > div:hover {
  background-color: #22368f7c;
  cursor: pointer;
  transition: background-color 300ms;
  border-radius: 10px;
}

.top-chat > div > :first-child {
  font-size: 2.5rem;
}

.name-chat {
  display: flex;
}

.top-chat .name-chat:has(.visible) {
  flex-direction: column;
}

.top-chat .name-chat h3 {
  height: 1.17em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-chat .status-chat {
  scale: 0;
  width: 0;
  transition: scale 300ms;
}
.top-chat .status-chat.visible {
  scale: 1;
  width: initial;
  transition: scale 300ms;
}

.top-chat > hr {
  margin-left: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: inherit;
  max-height: 100%;
  overflow-y: scroll;
  padding: 0.5rem 2rem;
  padding-bottom: 5rem;
  background-color: var(--cwhite);
}
.chat::-webkit-scrollbar {
  display: none;
}
.chat::after {
  position: absolute;
  inset: 0;
  content: "";
  z-index: 1;
  background: linear-gradient(180deg, transparent 85%, var(--cwhite) 90%);
  pointer-events: none;
}

.scroll-bottom {
  position: relative;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.7rem;
  gap: 0.7rem;
  background-color: var(--clightblue);
  color: var(--cwhite);
  border-radius: 10px;
  width: fit-content;
  max-width: 60%;
  z-index: 1;
}

.message img {
  border-radius: 5px;
  image-resolution: 10px 10px;
}

.message-content {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
}

.message.owner {
  margin-left: auto;
  background-color: var(--clightblue2);
}

.message p {
    word-break: break-word
}

.message-content > div {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.answer-message {
  background-color: var(--cgray);
  padding: 0.5rem;
  border-radius: 5px;
}
.message.owner .answer-message {
  background-color: var(--clightblue);
}

.answer-message > h5 {
  font-size: 0.7rem;
  font-weight: 100;
  margin-bottom: 5px;
}
.answer-message > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.answer-message p {
  font-size: 0.85rem;
}

/*INPUT ZONE*/

.input-zone {
  position: absolute;
  bottom: 0.2rem;
  left: 1rem;
  width: calc(100% - 4rem);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  gap: 1rem;
  display: flex;
  align-items: center;
  z-index: 2;
}

.input-zone > label {
  color: var(--cblue);
  scale: 1;
  transition: scale 300ms;
  font-size: 1.25rem;
}
.input-zone > label:hover {
  scale: 1.1;
  transition: scale 300ms;
}

.input-zone > label:has(> :last-child:not(.d-none)) {
  color: var(--cdarkgreen);
}

.input-zone input {
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  color: var(--cwhite);
  background-color: var(--clightblue);
}

.input-zone button {
  color: var(--cblue);
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
}
input:focus {
  outline: none;
}

.input-zone .input {
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-zone:has(.pop.visible) input  {
  border-radius: 0 0 5px 5px;
}

.input-zone .pop{
  display: none;
}

.input-zone .pop.visible {
  display: flex;
  position: absolute;
  background-color: var(--clightblue);
  border-radius: 5px 5px 0 0;
  gap: 0.5rem;
  width: calc(100% - 1rem);
  height: 100%;
  bottom: 100%;
  padding: 0.5rem;
}

.delete-audio, .send-audio {
  display: none;
}

.input-record {
  display: none;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  color: var(--cwhite);
  background-color: var(--clightblue);
  align-items: center;
  gap: 1rem;
  width: inherit;
}
.input-record > *:first-child {
  color: #ff5f5f;
  scale: 1.3;
  animation: fade 1s infinite;
}
.input-record > p {
  font-size: 0.85rem;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.recording-audio > label, .recording-audio > .emojis-wrap, .recording-audio > .record {
  display: none;
}

.recording-audio .delete-audio,.recording-audio .send-audio {
  display: block;
}

.recording-audio .input-record {
  display: flex;
}

.recording-audio > .input {
  display: none;
}

.pop .answer {
  display: none;
}

.pop.visible .answer {
  background-color: var(--cgray);
  width: inherit;
  border-radius: 5px;
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
} 

.pop.visible .answer > div > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pop.visible .answer > div> div> p {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1rem;
}

/*SEARCH */

.input-search {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--cwhite);
  position: relative;
}
.input-search > button {
  color: var(--cwhite);
}
.input-search > .xmark {
  position: absolute;
  right: 3px;
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: var(--clightblue);
  background: linear-gradient(90deg, transparent, var(--cwhite) 35%);
  scale: 1;
  transition: scale 200ms;
}
.input-expand:not(.expanded) + .xmark {
  scale: 0;
  transition: scale 200ms;
}
.input-expand {
  width: 0%;
  padding: 0;
  border: none;
  transition: all 300ms;
  background-color: var(--cwhite);
  color: var(--clightblue);
  font-weight: 600;
}
.input-expand::placeholder {
  color:var(--clightblue)
}
.input-expand.expanded {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: all 300ms;
}

/*CHAT CONFIG*/

.chat-config {
  scale: 0;
  transition: scale 300ms;
  transform-origin: 75% top;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 100%;
  background-color: var(--cblue);
  margin: 0;
}

.chat-config.expanded {
  transition: scale 300ms;
  transform-origin: 75% top;
  scale: 1;
}

.chat-config.expanded li > :first-child {
  scale: 1;
  transition: scale 200ms 250ms;
}
.chat-config.expanded li > :last-child {
  width: 100%;
  text-overflow: ellipsis;
  transition: width 300ms 250ms;
}

.chat-config li {
  padding: 0.7rem;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  user-select:none;
  position: relative;
  overflow: hidden;
  transition: gap 300ms;
  width: 9rem;
  max-width: 9rem;
}

.chat-config li > * {
  z-index: 1;
  position: relative;
}

.chat-config li > :first-child {
  scale: 0;
}
.chat-config li > :last-child {
  width: 0%;
  overflow: hidden;
  max-height: 1rem;
}
@media (max-width: 600px) {
  .chat-config li {
    max-width: 4rem;
  }
}

.chat-config li::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, var(--clightblue) 30%, transparent);
  width: 100%;
  rotate: 14deg;
  height: 200%;
  left: -120%;
  transition: left 500ms;
}
.chat-config li:hover::before {
  left: -20%;
  transition: left 500ms;
}
.chat-config li:hover {
  gap: 1.5rem;
  transition: gap 300ms;
}

/**CONFIG ACCOUNT*/

.config-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.avatar-background {
  background-color: #2b46e0;
  height: 30%;
  position: relative;
}
.animated .avatar-background {
  opacity: 0;
  animation: fadeToDown 300ms forwards;
}

.return {
  position: absolute;
  left: 0.5rem;
  top: 0.35rem;
  font-size: 1.5rem;
  color: var(--cwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 1.5rem;
}
.return:hover {
  background-color: rgba(224, 239, 255, 0.308);
}

.avatar {
  font-size: 10rem;
  position: absolute;
  bottom: -3.5rem;
  left: calc(50% - 5rem);
  background: var(--cblue);
  color: var(--cwhite);
  border-radius: 50rem;
  display: flex;
}

.config-form {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.animated .config-form {
  opacity: 0;
  animation: fadeToDown 300ms 300ms forwards;
}

.config-form input {
  background-color: var(--cwhite);
  border-radius: 10px;
  color: var(--clightblue);
  padding: 1rem 0.7rem;
  border: none;
  width: inherit;
  max-width: 100%;
}
.config-form > div {
  display: flex;
  gap:1rem;
  align-items: center;
  width: 100%;
}

.config-form button, .config-confirm {
  background-color: var(--cblue);
  padding: 0.5rem;
  color: var(--cwhite);
  border-radius: 10px;
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.config-form button::before, .config-confirm::before {
  content: "";
  opacity: 0.4;
  background-color: var(--cgray);
  transform: skew(10deg);
  width: 130%;
  height: 140%;
  position: absolute;
  left: -140%;
  top: -20%;
  transition: left 300ms;
  pointer-events: none;
}

.config-form button:hover::before, .config-confirm:hover::before {
  left: -10%;
  transition: left 300ms;
}

.config-confirm {
  padding: 1rem 1.5rem;
  font-size: 0.85rem;
  margin: 0 5rem 0 auto;
}
.animated .config-confirm {
  opacity: 0;
  animation: fadeToDown 300ms 300ms forwards;
}

.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: var(--cblue);
  opacity: 0;
  animation: fadeToDown 300ms 300ms forwards;
}


@keyframes fadeToDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


/*/*/

.emojis-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emojis-wrap:has(+ .input .pop.visible) > section {
  bottom: 190%!important;
}

.emojis-wrap hr {
  border: 1px solid var(--clightblue);
  margin: 0;
}

.emojis-wrap > section {
  position: absolute;
  bottom: 100%;
  left: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  min-width: calc(100% - 2rem);
  background-color: var(--cblue);
  opacity: 0;
  animation: fadeToDown 300ms forwards;
}

.emojis-router {
  display: flex;
  align-items: center;
  gap:2px;
  color:var(--cwhite);
}
.emojis-router > button {
  color:var(--cwhite);
  transition: background-color 300ms;
  padding: 0.5rem 0.3rem;
}

.emojis-router > button:hover {
  background-color: var(--clightblue);
  transition: background-color 300ms;
}

.emojis-router > button::first-letter {
  text-transform: capitalize;
}

.emojis-wrap ul {
  margin: 0.7rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10%);
  max-width: 100%;
  gap:0.5rem;
  justify-content: center;
}

.emojis-wrap ul button {
  font-size: 1.5rem;
  scale: 1;
  transition: scale 300ms;
}

.emojis-wrap ul button:hover {
  scale: 1.3;
  transition: scale 300ms;
}

/**/
audio::-webkit-media-controls-panel {
  background-color: var(--cgray);
}



/*ADD CONTACT----------------------*/


.pop-add-contact {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.212);
  backdrop-filter: blur(2px);
  display: flex;
}

.pop-add-contact > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cwhite);
  padding: 0.5rem;
  margin: auto;
  border-radius: 5px;
  color: var(--cblue);
}

.pop-add-contact .close {
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--cblue);
}
.pop-add-contact hr {
  margin: 0.5rem 0;
}

.pop-add-contact form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1.5rem;
} 

.pop-add-contact label {
  font-size: 0.8rem;
}

.pop-add-contact input {
  background-color: var(--clightblue);
  border-radius: 10px;
  color: var(--cwhite);
  padding: 1rem 0.7rem;
  border: none;
  width: inherit;
  max-width: 100%;
}

.pop-add-contact [type="submit"] {
  margin: auto;
}