.screen {
    display: flex;
    height: 100dvh;
}

.form {
    padding: 1rem;
    width: 35%;
    background-color: var(--cblue);
    color: var(--cwhite);
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h1{
    text-align: center;
    font-size: x-large;
    margin: 2rem 0;
}
.form hr {
    width: 100%;
}
.form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    animation: fadeToDown 300ms forwards;
}
.form ul div {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: inherit;
}
.form input {
    font-size: medium;
    border-radius: 10px;
    border: none;
    padding: 1rem 1.5rem;
    width: inherit;
    align-self: start;
}
.form ::placeholder {
    color: var(--cgray);
}
.form [type="submit"]{
    transition: background-color 300ms, color 300ms;
    border: 5px solid transparent;
    background-color: var(--clight);
    color: var(--cblue);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    font-size: medium;
}
.form [type="submit"]:hover{
    transition: background-color 300ms, color 300ms;
    background-color: transparent;
    color: var(--cwhite);
    cursor: pointer;
}

.log-error {
    border: 2px solid #ff3c3c;
    border-radius: 5px;
    background-color: transparent;
    padding: 1rem;
    color: var(--cgray);
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms, color 300ms;
}

.log-error:empty {
    display: none;
}

.log-error:hover {
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.buttonEye {
    min-width: 2.3rem;
    max-width: 2.3rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 300ms;
    background-color: var(--cgray);
}
.buttonEye:hover {
    transition: background-color 300ms;
    background-color: var(--clight);
}

[type="password"] + .buttonEye > :first-child, [type="input"] + .buttonEye > :last-child {
    display: none;
}

.form a {
    opacity: 0;
    animation: fadeToDown 300ms 500ms forwards;
}

.page {
    padding: 3rem;
}
.page h1 {
    margin-bottom: 1rem;
}